
/* Body & General */

body {
    font-family: Montserrat, sans-serif;
}

p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
}

h5 {
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 400;
}
/* NavBar */

#bold-brand {
    letter-spacing: 5px;
    font-weight: 600;
    margin-left: 2%;
}
.padding-nav{
    padding-bottom: 25px;
    background-color: white;
}

/* TimeCrest General Footer Style */
.footer-crest {
    background-color: #162438;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right:15px;
}

.icon-crest {
    margin-right: 15px;
}
.fa-linkedin-in {
    color:white;
}
.fa-instagram {
    color: white;
}


/*Contact form | General*/

.contact-title{
    padding-left: 11%;
    margin-top: 50px;
}
.margin-button-submit {
    margin-bottom: 100px;
}


/* Header - Home - Style  */

.header-intro {
padding-top: 150px;
display: flex;
height: 90vh;
background-image: url("https://adhartasdev.github.io/TimeCrest/assets/Images/Header-intro.jpg");
background-size: cover;
color: white;
}

.jumbo-text {
margin-top: 10%;
margin-left: 7%;
position: relative;
}

.jumbo-text h1 {
    font-weight: 500;
    font-family: Montserrat;
}
.jumbo-text p {
    font-weight: 400;
    font-family: Montserrat;
}

.jumbo-button {
    background-color: #1378f5;
}
/* Header - About - Services - Contact Style  */

.header-intro-other {
padding-top: 150px;
padding-left:5%;
display: flex;
height: 50vh;
background-image: url("https://adhartasdev.github.io/TimeCrest/assets/Images/About-header.jpg");
background-size: cover;
color: white;
}

/* Three Services */

.general-title {
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 50px;
}

.service-box {
    margin-right: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 7%;
}

.service-box h2 {
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: Montserrat;
}
.service-box img {
    padding-bottom: 25px;  
    
}

.read-more-button {
   background-color: #1378f5;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: Roboto;
}

/* Condifence Statement Section | Home Page */

/* The hero image - source to be cited */

.bgimage {
  width:100%;
  height:55vh;
  background-image: url('https://adhartasdev.github.io/TimeCrest/assets/Images/Home-CTA.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding-top: 120px;
}

.bgimage h1 {
  font-family: Montserrat;
  color:white;
}

.bgimage p {
  color:white;
  font-size: 24px;
  margin: 15px 0 15px 0;
}

.bgimage-button{
    margin-top: 20px;
    background-color: #1378f5;
    border: none;
}

/* Our Investment Focus Section | Home Page*/

.center-focus {
    max-width: 350px;
    max-height: 350px;
    text-align: center;
    
}

.container-fit {
    margin-bottom:50px;
}
.max-text-wh {
    max-width: 60%;
}

.max-text-wh p{
    margin-top: 20px;
}

.centered-focus {
    text-align: center;
    margin-bottom: 20px;
    padding: 50px;
}
.centered-focus h3{
    margin-top: 15px;
    
}
.centered-focus p{
    max-width: 300px;
    margin-top: 15px;
}
/*Contact form | Home Page*/

.contact-title{
    padding-left: 11%;
}
.margin-button-submit {
    margin-bottom: 100px;
}

/* Facts | About Page*/

.sbx-2{
    text-align: center;
}

.icon-sbx {
    margin-bottom: 15px;
}

/* Image & Text | About Page */

.about-img-crest{
    max-width: 675px;
    max-height: 675px; 
    margin-right: 25px;
    margin-left: 25px;  
}
.text-about {
    max-width: 700px;
    max-height: 700px;  
    margin: 50px 0px 50px 0px;

}
.text-about p {
    font-size: 16px;
    font-weight: 600;
    font-family: Roboto;
    text-align: justify;
    margin-right: 25px;
    margin-left: 25px;
}

/*  Accordion | Services Page */
.services-accordion {
    margin-right: 12%;
    margin-left: 12%;
    margin-bottom: 75px;
}
.card-focus {
    max-width: 60%;
}
.accordion-color{
    background-color: #1378f5;
    color: white;
}
.card-font h5 {
    font-weight: 700;
}