
/* Body & General */
body {
    font-family: Montserrat, sans-serif;
}

p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
}

h5 {
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 400;
}
/* NavBar */

#bold-brand {
    letter-spacing: 5px;
    font-weight: 600;
}
.padding-nav{
    padding-bottom: 25px;
    background-color: white;
}
.nav-button {
    background-color: #1378f5;
    margin-left: 10px;
}
/* Header Style  */

.header-intro {
padding-top: 150px;
display: flex;
height: 90vh;
background-image: url("/workspace/TimeCrest/assets/Images/header-home.jpg");
background-size: cover;
color: white;
}

/* Three Services */

.general-title {
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 50px;
}

.service-box {
    margin-right: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.service-box h2 {
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: Montserrat;
}
.service-box img {
    padding-bottom: 25px;
    box-shadow: black;   
}

.read-more-button {
    background-color: #162438;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: Roboto;
}

/* Condifence Statement Section | Home Page */
.fact-statement {
    color: white;
    display: flex;
    height: 55vh;
    background-image: url("/workspace/TimeCrest/assets/Images/header-home.jpg");
    background-size: cover;
    text-align: center;
    vertical-align: middle;
}


/* Footer*/

.footer-crest {
    background-color: #162438;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right:15px;
}

.icon-crest {
    margin-right: 15px;
}
.fa-linkedin-in {
    color:white;
}
.fa-instagram {
    color: white;
}