
/* Body & General */
body {
    font-family: Montserrat, sans-serif;
}

p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
}

h5 {
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 400;
}
/* NavBar */

#bold-brand {
    letter-spacing: 5px;
    font-weight: 600;
}
.padding-nav{
    padding-bottom: 25px;
    background-color: white;
}
.nav-button {
    background-color: #1378f5;
    margin-left: 10px;
}
/* Header Style  */

.header-intro {
padding-top: 150px;
display: flex;
height: 90vh;
background-image: url("/workspace/TimeCrest/assets/Images/header-home.jpg");
background-size: cover;
color: white;
}

.jumbo-text {
margin-top: 10%;
margin-left: 7%;
}

.jumbo-text h1 {
    font-weight: 500;
    font-family: Montserrat;
}
/* Three Services */

.general-title {
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 50px;
}

.service-box {
    margin-right: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 7%;
}

.service-box h2 {
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 600;
    font-family: Montserrat;
}
.service-box img {
    padding-bottom: 25px;
    box-shadow: black;   
}

.read-more-button {
    background-color: #162438;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: Roboto;
}

/* Condifence Statement Section | Home Page */

/* The hero image - source to be cited */
.bgimage {
  width:100%;
  height:55vh;
  background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

.bgimage h1 {
  font-family: Montserrat;
  color:white;
}

.bgimage p {
  color:white;
  font-size: 24px;
  margin: 15px 0 15px 0;
}

.bgimage-button{
    margin-top: 25px;
    background-color: #1378f5;
}

/* Our Investment Focus Section */

.center-focus {
    max-width: 350px;
    max-height: 350px;
    text-align: center;
    
}

.container-fit {
    margin-bottom:100px;
}

/*Contact form*/

.contact-title{
    padding-left: 11%;
}
.margin-button-submit {
    margin-bottom: 100px;
}
/* Footer*/

.footer-crest {
    background-color: #162438;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right:15px;
}

.icon-crest {
    margin-right: 15px;
}
.fa-linkedin-in {
    color:white;
}
.fa-instagram {
    color: white;
}